# Secrets & Sensitive Data
service-account.json
.env
*.pem
*.key

# Backend / Core
node_modules/
database.sqlite
npm-debug.log*
migrate_laws.js
initDB.js
package-lock.json

# Frontend (Flutter)
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/generated_plugin_registrant.dart
frontend/android/.gradle
frontend/android/local.properties
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/ServiceAccount.json
frontend/windows/flutter/ephemeral/

# Misc
.DS_Store
Thumbs.db
*.log
